*{
    /* outline: 1px solid red; */
    font-family: 'Franklin Gothic Medium', Arial, sans-serif
}

#c1{
    margin-top: 20px;
    padding: 15px 15px 15px 15px;
}

h2{
    border-bottom: solid black 1px;
    padding: 10px 5px;
}

.fixed-bottom{
    color: white;
    padding: 10px;
    /* position: relative; */
    border-top: solid rgb(73, 160, 181) 3px;
    margin-top: 15px;
}

.nav-link{
    color:#fff
}

.navbar-brand{
    padding-left: 25px;
}

#main-img{
    margin:0px 20px 10px 0px;
    width:50%;
}

@media (max-width: 767.98px) { 
        #main-img{
        width:100%;
    }
}

/* @media (max-width: 1199.98px) { 
        #c1{
            width:50%;
        }
 } */

 #contactformlinks {
     font-size: 12px;
 }